/*** BEGIN Override URL bar enlargement ***/

  /* Compute new position, width, and padding */

  #urlbar[breakout][breakout-extend] {
    top: 5px !important;
    left: 0px !important;
    width: 100% !important;
    padding: -1px !important;
  }
  /* for alternate Density settings */
  [uidensity="compact"] #urlbar[breakout][breakout-extend] {
    top: 3px !important;
  }
  [uidensity="touch"] #urlbar[breakout][breakout-extend] {
    top: 4px !important;
  }

  /* Prevent shift of URL bar contents */

  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0 !important;
  }

  /* Do not animate */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    animation: none !important;;
  }

  /* Remove shadows */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: none !important;
  }

/*** END Override URL bar enlargement ***/

/*** BEGIN Auto hide/show tab bar and address bar on mouse hover ***/
  /* Hide the tab bar automatically, leave a 10 pixel high bar for the mouse to trigger, also for consistency, make all elements of the navigator toolbox transparent */
    /*#navigator-toolbox {
      max-height: 28px ;
      overflow: scroll !important;
      scrollbar-width: none !important;
      transition: ease all 0s;
      opacity: 1!important; 
    }
  /* Show the rest of the navigation toolbox when the cursor is hovering in the area described above, disable the transparency */
    /*#navigator-toolbox:hover {
      max-height:100vh;
      animation: 0s pop-in;
      animation-fill-mode: both;
      animation-delay: 5s;
      opacity: 1!important;
      
    }
    @keyframes pop-in {
      from {overflow: hidden}
      to {overflow: unset}
    }
/*** END Auto hide/show tab bar and address bar on mouse hover ***/

/*** BEGIN Limit toolbox height and disable scroll to access toolbox ***/
  /* Hide the tab bar automatically, disable scrolling on the part of the toolbar that is visible (28 px) and setup so that ctrl + L toggles the full height of the toolbar*/
  
  #navigator-toolbox {
    max-height: 0px !important ;
    overflow: hidden !important;
    /* overflow: scroll !important; */
    scrollbar-width: none !important;
    margin-top: -3px !important;
 
  }
  #navigator-toolbox:focus-within
  {
    
    animation: 0s none;
    animation-fill-mode: both;
    animation-delay: 5s;
    opacity: 1!important;
    max-height: 65px !important;
  }
  .titlebar-spacer {
    display: none !important;
  }


/*** END Limit toolbox height and disable scroll to access toolbox ***/

/* ADDED 8/10/2021, FIREFOX 91 UPDATE : remove stupid rounded-ness? */
.tab-background,
#urlbar-background,
#searchbar,
menupopup,
.menupopup-arrowscrollbox{ border-radius: 0 !important; }
:root{--arrowpanel-border-radius:0px !important;}

/** BEGIN Bring back Proton **/

.tab-background {
  border-radius: 0px 0px !important;
  margin-bottom: 0px !important;
}

.tabbrowser-tab:not([selected="true"]):not([multiselected="true"]) .tab-background {
  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

menupopup > menu, menupopup > menuitem {
  padding-block: 0px !important;
}

:root {
  --arrowpanel-menuitem-padding: 0px !important;
}

.tabbrowser-tab:not([selected="true"]) > .tab-stack > .tab-background {
  border: 1px solid rgba(130, 130, 130, 0.5) !important;
}

.tabbrowser-tab[selected="true"] .tab-background {
  border-left: 1px solid rgba(130, 130, 130, 0.5) !important;
  border-right: 1px solid rgba(130, 130, 130, 0.5) !important;
}

.tabbrowser-tab[selected="true"] .tab-background {
  border-top: 3px solid #3daee9 !important;
}

/** END Bring back Proton
