/*** BEGIN set homepage wallpaper ***/



@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    .click-target-container *, .top-sites-list * {
        color: #fff !important ;
        text-shadow: 2px 2px 2px #222 !important ;
    }
    .search-wrapper .logo-and-wordmark .logo {
            background: none !important;
        }
        .search-wrapper .logo-and-wordmark .wordmark {
            background: none !important;
        }
       
    body::before {
        content: "" ;
        z-index: -1 ;
        position: fixed ;
        top: 0 ;
        left: 0 ;
       
        background: #f9a no-repeat url(img/Ambitious\ but\ rubbish.jpg)center ;
        background-size: cover ;
        width: 100vw ;
        height: 100vh ;
    }
}
@media only screen and (max-width: 1080px){
    body::before{
        background: #f9a no-repeat url(img/League\ of\ Legends\ \(6\).jpg)center ;
    }
} 
/*** END Set homepage wallpaper ***/

/*** BEGIN Hide scrollbar ***/
html {
    scrollbar-width: none;
 }
/*** END Hide scrollbar ***/
