/*** Set homepage wallpaper ***/



@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    .click-target-container *, .top-sites-list * {
        color: #fff !important ;
        text-shadow: 2px 2px 2px #222 !important ;
    }
    .search-wrapper .logo-and-wordmark .logo {
            background: none !important;
        }
        .search-wrapper .logo-and-wordmark .wordmark {
            background: none !important;
        }
       
    body::before {
        content: "" ;
        
        position: fixed ;
        top: 0 ;
        left: 0 ;
       
        background: #f9a no-repeat url(img/Firefox.jpg)center ;
        background-size: cover ;
        width: 100vw ;
        height: 100vh ;
    }
}
@media only screen and (max-device-width: 1080px) {
    body::before{
        content: "" ;
        z-index: -2 !important;
        
        background: #f9a no-repeat url(img/Warrior.jpg);
        background-size: cover;
        min-width: 100%;
        top: 0;
        left: 0;
        
        
    }
} 


/*** Hide scrollbar ***/
html {
    scrollbar-width: none;
 }
