#urlbar[breakout][breakout-extend] {
    top: 6px !important;
    left: 0 !important;
    width: 100% !important;
    padding: 0 !important
}

[uidensity=compact] #urlbar[breakout][breakout-extend] {
    top: 6px !important
}



#urlbar[breakout][breakout-extend]>#urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0 !important
}

#urlbar[breakout][breakout-extend]>#urlbar-background {
    animation: none !important;
    box-shadow: none !important
}

menupopup {
	-moz-appearance: none !important;
	padding: 8px 2px 8px 2px !important;
	background-color: #24273a !important;
	border: 1px #A0A0A0 solid !important;
	min-width: 280px !important;
}
menuseparator {
	-moz-appearance: none !important;
	border: none !important;
	padding: .5px 0px .5px 0px !important;
	margin: 4px 8px 4px 8px !important;
	background-color: #808080 !important;
}
menuitem, menu {
	-moz-appearance: none !important;
	color: #b1bce2 !important;
	padding: 7.5px 0px 7.5px 0px !important;
}
menuitem[disabled="true"], menuitem[disabled="true"] > .menu-text {
	color: gray !important;
}
menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"]	 {
	-moz-appearance: none !important;
	padding: 7.5px 0px 7.5px 0px !important;
	background-color: #5b6078 !important;
}
menugroup {
	padding: 0px !important;
	background-color: transparent !important;
}
menuitem > .menu-text, menuitem > .menu-iconic-text {
	color:#cad3f5 !important;
}
menuitem[type="checkbox"] {
	padding-left: 8px !important;
	padding-top: 6.5px !important;
	padding-bottom: 6.5px !important;
}
menuitem[type="radio"] {
	padding-left: 8px !important;
	padding-top: 6.5px !important;
	padding-bottom: 6.5px !important;
}
menuitem[type="checkbox"] > .menu-iconic-text, menuitem[type="radio"] > .menu-iconic-text {
	padding-left: 5px !important;
}
menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
	padding: 7px 0px 0px 0px !important;
	border: solid white;
	border-width: 0 0 2px 2px;
	transform: rotate(-45deg) scale(.75);
	margin-bottom: 4px !important;
}
menuitem[checked="true"][type="radio"] > .menu-iconic-left {
	padding: 1px !important;
	border: solid white;
	height: 17px !important;
	border-radius: 100%;
	background: white;
	transform: scale(.5); 
}
menucaption {
	background-color: transparent !important;
	color: white !important;
}
#ContentSelectDropdown > menupopup {
	background-image: none !important;
}
#ContentSelectDropdown {
	padding: 0px !important;
}
menulist {
	-moz-appearance: none !important;
	padding: 4px 4px 4px 4px !important;
	border: 2px solid #666666 !important;
	background-color: transparent !important;
}
menulist:hover {
	padding: 4px 4px 4px 4px !important;
	border: 2px solid #999999 !important;
	background-color: transparent !important;
}
menulist[open="true"]  {
	border: 2px solid #666666 !important;
	background-color: #333333 !important;
}
#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}
.menu-iconic-left {
	-moz-appearance: none !important;
	padding: 0px 5px 0px 9px !important;
}
.menu-right {
	-moz-appearance: none !important;
	padding: 7.5px !important;
	margin-right: 6px !important;
	color: white !important;
	border: solid white;
	border-width: 0 2px 2px 0px;
	transform: rotate(-45deg) scale(.55);
}
tooltip {
	-moz-appearance: none !important;
	color: white !important;
	background-color: #2B2B2B !important;
	border: 1px solid #767676 !important;
	padding: 6.5px !important;
}
    


.titlebar-spacer {
    display: none !important
}

.tab-background,
#urlbar-background,
#searchbar,
menupopup,
.menupopup-arrowscrollbox {
    border-radius: 0 !important
}

:root {
    --arrowpanel-border-radius: 0 !important;
    --arrowpanel-menuitem-padding: 0 !important;
   
    --tab-min-height: 25px !important
}

.tab-background {
    border-radius: 0 0 !important;
    margin-bottom: 0 !important
}

.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
    background-color: #2b2a33
}

menupopup>menu,
menupopup>menuitem {
    padding-block: -1px !important
}

.tabbrowser-tab:not([selected=true])>.tab-stack>.tab-background {
    border: none !important
}

.tabbrowser-tab[selected=true] .tab-background {
    border-left: 0 solid rgba(130, 130, 130, .5) !important;
    border-right: 0 solid rgba(130, 130, 130, .5) !important;
    border-top: 2px solid #3daee9 !important
}

:root #tabbrowser-tabs {
    --tab-min-height: 25px !important
}
